.weight-progressbar {
  height: 10px;
  --progress-background: #383735;
  --buffer-background: rgb(169 170 173 / 30%);
  border-radius: 12rem 12rem 0 0;
}

.info-name {
  font-size: 25px;
  margin-bottom: 0;
  font-weight: bold;
  padding: 2px;
}

.user-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
}

.ion-padding {
  div {
    margin-top: 5px
  }
}

.flip-icon {
  transform: scaleX(-1);
}